[submodule "imp.lib"]
	path = imp.lib
	url = https://github.com/imp-nix/imp.lib
[submodule "imp.docgen"]
	path = imp.docgen
	url = https://github.com/imp-nix/imp.docgen
[submodule "imp.ixample"]
	path = imp.ixample
	url = https://github.com/imp-nix/imp.ixample
[submodule "imp.graph"]
	path = imp.graph
	url = https://github.com/imp-nix/imp.graph
[submodule "imp.fmt"]
	path = imp.fmt
	url = https://github.com/imp-nix/imp.fmt
[submodule ".github"]
	path = .github
	url = https://github.com/imp-nix/.github
[submodule "imp.refactor"]
	path = imp.refactor
	url = https://github.com/imp-nix/imp.refactor
